<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newrelic-api-key</key>
	<string>AA44165c85e735e28b42684455ce9923f7113023c0</string>
	<key>google-analytics-tracker-id</key>
	<string>UA-325725-50</string>
	<key>errbit-api-key</key>
	<string>cf2aedbf008f586ca5e1431399806050</string>
</dict>
</plist>
